# Environment variables
.env
.env.*
!.env.example

# Dependencies
node_modules/
venv/
.venv/
__pycache__/

# Logs
*.log
npm-debug.log*

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build files
dist/
build/

# Local Docker files
docker-compose.override.yml